#define VERINF1 1
VERINF1 VERSIONINFO
FILEVERSION 0,0,0,1
PRODUCTVERSION 0,0,0,1
FILEOS 0x00000004
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "04290429"
    BEGIN
      VALUE "CompanyName", "https://github.com/LifeIsHex\0"
      VALUE "FileDescription", "Rubbish Code Generator\0"
      VALUE "InternalName", "rcg 0.1.exe\0"
      VALUE "OriginalFilename", "rcg 0.1.exe\0"
      VALUE "FileVersion", "0.0.0.1\0"
      VALUE "ProductVersion", "26.10.10\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0429, 0x0429
  END
END

//************************************************************************************************************************************************

//App ICON DISCARDABLE "Icon.ico"
